---
layout: default
title: Renewals
suppress_header: true
extra_css:
  - sales-and-free-trial-common.css
  - faq.css
extra_js:
  - faq.js

---

.blank-header
  .header-content
    %img.image-border.image-border-left{ src: "/images/home/icons-pattern-left.svg", alt: "Gitlab icon pattern left svg" }
    %img.image-border.image-border-right{ src: "/images/home/icons-pattern-right.svg", alt: "Gitlab icon pattern right svg" }
    %h1 Renewals
   
.gitlab-content-container
  .content
  
    %p.text-center Please fill out the form with your account &amp; contact information to request assistance with your renewal. Our Customer Advocate team will be in touch with you shortly.

    %p.text-center If you don't see the form, try temporarily disabling ad blockers.

    %script{src: "//app-ab13.marketo.com/js/forms2/js/forms2.min.js"}
    %form#mktoForm_1988
    :javascript
      MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 1988, function(form) {
        form.onSuccess(function() {
          form.getFormElem().hide();
          $('.confirmform').show();
          return false;
        });
      });
    .confirmform{style: "display:none;"}
      %h3 Submission received!
      %p We'll be in touch shortly.
